/* CSS Document */
body {
    /*background-color: #f0f0f0;*/
	font-size: 20px;
}

    /* 使用CSS设置图片的宽度和高度 */
    .resize-image {
        /*  width: 300px;
        	height: 600px;  */
		width: 450px; /* 设置图片宽度 */
    	/* height: 150px;  设置图片高度 */
    	object-fit: contain; /* 保持宽高比，内容全部可见 */
    }
